
<nav class="navbar   navbar-dark "  >
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand">Hospital Management System</div>
		</div>
		<!-- Brand/logo -->
		<div class="navbar-header pull-right">
			<a class="navbar-brand" href="#" >{{ username }}</a>
		</div>	

		<div class="col-md-6">
			<a  href="#makeAnAppointment" role="button" style="text-decoration: white;"
				aria-pressed="true" routerLink ='/appointment'  >Make an Appointment</a>
			
		</div>

		<div class="header-right">
			<a  href="#doctor" role="button" style="text-decoration: white;"
				aria-pressed="true" routerLink ='/appointment'  >Doctor</a>
			
		</div>
		

		

		
	</div>
	
</nav>

